<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need your permission to send notifcations when a routine starts</string>
	<key>UIBackgroundModes</key>
	<array/>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>AppIcon-Amber</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Amber</string>
                </array>
            </dict>
            <key>AppIcon-Deep</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Deep</string>
                </array>
            </dict>
            <key>AppIcon-Forest</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Forest</string>
                </array>
            </dict>
            <key>AppIcon-Goldenrod</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Goldenrod</string>
                </array>
            </dict>
            <key>AppIcon-Jum</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Jum</string>
                </array>
            </dict>
            <key>AppIcon-Red</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Red</string>
                </array>
            </dict>
            <key>AppIcon-Teal</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>AppIcon-Teal</string>
                </array>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
